:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --footer-transparent-color: rgba(255, 255, 255, 0.6);
  --social-link-color: #afb1b8;

  --bg-color: #e5e5e5;
  --bg-color-secondary: #f5f4fa;
  --bg-color-white: #ffffff;
  --logo-text-black: #000000;
  --bg-hero-footer: #2f303a;
  --bg-footer-icon: rgba(255, 255, 255, 0.1);

  --border-color: #eeeeee;

  --bg-hero: #c4c4c4;
}

/* color of main text #757575 */
/* color of secondary #212121 */
/* accent #2196F3 */
/* white text #FFFFFF */
/* bg main color  #FFFFFF */
/* bg secondary color #E5E5E5 */
/* bg third color #F5F4FA  */
/* bg footer color #2F303A  */
/* logo color black #000000 */
/* footer and hero color #2F303A */

body {
  /* background-color: var(--bg-color); */
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;

  padding: 0;
  margin: 0;
}

.link,
.logo,
.icon-thumb {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid teal; */
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.icon {
  fill: currentColor;
}

.icon-social {
  width: 20px;
  height: 20px;
}

/* logo */
.header .logo {
  margin-right: 90px;

  color: var(--logo-text-black);

  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-blue {
  color: var(--accent-color);
}

/* navigation */
.header {
  background-color: var(--bg-color-white);
  border-bottom: 1px solid #ececec;
}

/* .header-border {
  border-bottom: 1px solid var(--bg-color);
} */

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav .item:not(:first-child) {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.current {
  position: relative;
  /* outline: 2px solid teal; */
  display: block;
}

.current::after {
  position: absolute;
  bottom: -1px;

  background: var(--accent-color);
  content: "";

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item:not(:first-child) {
  margin-left: 50px;
}

.auth-nav .link {
  display: flex;
  align-items: center;
}

.auth-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav .icon {
  margin-right: 10px;
}

.envelope {
  width: 16px;
  height: 12px;
}

.smartphone {
  width: 10px;
  height: 16px;
}

/* hero  */
.hero {
  max-width: 1600px;
  height: 600px;

  background-position: center;
  background-color: var(--bg-hero);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/hero.jpg);

  text-align: center;
  padding-top: 200px;
  margin: 0 auto;
}

.hero .title-box {
  width: 696px;
  margin: 0 auto;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--white-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
.hero .link {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;

  background-color: var(--accent-color);
  color: var(--white-text-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.hero .link:hover,
.hero .link:focus {
  background-color: var(--bg-color-white);
  color: var(--accent-color);

  border: 1px solid var(--accent-color);
}

/* section */
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--bg-color-white);
}

.section-title.centred {
  text-align: center;
}

/* feautures  */
.feautures .icon-thumb {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  background-color: var(--bg-color-secondary);

  width: 270px;
  height: 120px;
  border-radius: 4px;
}

.feautures .icon {
  width: 70px;
  height: 70px;
  fill: currentColor;
}

.feautures {
  display: flex;
}

.feautures .item + .item {
  margin-left: 30px;
}

.feautures .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feautures .text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
}
/* description */
.section.description {
  padding-top: 0;
  padding-bottom: 94px;
}

.description .list {
  display: flex;
}

.description .item:not(:first-child) {
  margin-left: 30px;
}

.description img {
  /* min-width: 370px; */
  width: 100%;
}

/* our team */
.our-team {
  background-color: var(--bg-color-secondary);
  line-height: 1.19;
}

.our-team .list {
  display: flex;
}

.our-team .item:not(:first-child) {
  margin-left: 30px;
}

.container-our-team {
  padding-top: 0;
  padding-bottom: 30px;

  background-color: var(--bg-color-white);

  min-width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.our-team .title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
}

.our-team .text {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 16px;
}

.our-team .social-list {
  display: inline-flex;

  margin-right: 32px;
  margin-left: 32px;
}

.social-list > .icon-item {
  display: inline-flex;

  width: 44px;
  height: 44px;
}

.social-list .icon-item:not(:first-child) {
  margin-left: 10px;
}

.our-team .icon-thumb {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: var(--social-link-color);

  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.our-team .icon-thumb:hover,
.our-team .icon-thumb:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

/* regular customers */
.customers-list {
  display: flex;
  justify-content: space-between;
}

.customers .icon-item {
  display: flex;

  width: 170px;
  height: 90px;
}

.customers .icon-thumb {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--social-link-color);

  width: 100%;
  height: 100%;
  border: 1px solid var(--social-link-color);
  border-radius: 4px;
}

.customers .icon-thumb:hover,
.customers .icon-thumb:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* footer */
.footer {
  background-color: var(--bg-hero-footer);
}

.footer > .container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: baseline;
}
.footer,
.footer .logo {
  color: var(--white-text-color);

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer .link {
  color: var(--footer-transparent-color);
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

.footer .list {
  font-size: 14px;
  line-height: 1.71;
}

.footer .item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-addres {
  font-style: normal;
}

.footer .text {
  margin-top: 0;
  margin-bottom: 20px;

  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.social-container {
  margin-left: 70px;
}

.footer .icon-thumb {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: var(--white-text-color);
  background-color: var(--bg-footer-icon);

  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.footer .icon-thumb:hover,
.footer .icon-thumb:focus {
  background-color: var(--accent-color);
}

/* portfolio */
.portfolio {
  background-color: var(--bg-color-white);
}

.portfolio .list-button {
  display: flex;
  justify-content: center;
}

.list-button .item:not(:first-child) {
  margin-left: 8px;
}

.list-button .item {
  margin-bottom: 50px;
}

.button {
  padding: 6px 22px;
  border-radius: 4px;
  border: 0 solid transparent;

  background: #f5f4fa;
  color: var(--primary-text-color);

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  outline: none;
}

.button:hover,
.button:focus {
  color: var(--white-text-color);
  background: var(--accent-color);
  border: 0 solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-image {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: -15px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -15px; */
}
.list-image .link {
  display: block;
}

.list-image .link:hover,
.list-image .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.list-image .item {
  width: calc((100% - 60px) / 3);
  /* margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-left: 15px; */
}

.list-image .item:not(:nth-child(3n + 1)) {
  margin-left: 30px;
}

.list-image .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.card-content {
  margin-top: 0;
  /* max-width: 370px; */
  flex-basis: 100%;

  border-color: var(--border-color);
  border-style: solid;

  border-top-width: 0;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 370px;
}

.image-block {
  display: block;
}

.portfolio .title {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio .text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--title-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}

.portfolio .title:hover,
.portfolio .title:focus,
.portfolio .text:hover,
.portfolio .text:focus {
  color: var(--accent-color);
}
